.skill_div_main {
    /* border: solid 1px black; */
    /* margin-bottom: 5%; */
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.skill_div {
    font-size: 2em;
    display: flex;

    justify-content: center;
    gap: 10%;
    align-items: center;
}

.icon_description {
    font-size: 15px;
    font-weight: bold;
}
.icon_div {
    margin-bottom: 10px;
    border: solid #14213d 3px;
    /* padding: 20% 20%; */
    /* background-color: red; */
    cursor: pointer;
    border-radius: 20px;
    align-items: center;
    padding-top: 5%;
    /* padding-top: 1.8%; */
    font-size: 20px;
    /* margin: auto; */
    align-items: center;
    width: 20vh;
}

.icon_div img {
    /* border-radius: 2.6rem; */
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 3rem;
    line-height: 2.6rem;
    margin: 0 0px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3rem;
    /* border: solid red 1px; */
    /* border-radius: 20px; */
    /* margin-bottom: 10px; */
}
.icon_div h4 {
    font-size: 1vh;
}

@media (max-width: 992px) {
    .skill_div {
        /* text-align: center; */
        /* display: grid;
        grid-template-columns: repeat(4, 1fr); */
        /* border: solid red 2px; */
        gap: 5%;
    }

    .skill_div_main {
        /* border: solid 1px black; */
        /* margin-bottom: 5%; */
        margin-top: 5%;
    }
}

/* Media Query */
@media (max-width: 768px) {
    .skill_div_main {
        /* border: solid 1px black; */
        /* margin-bottom: 5%; */
        margin-top: 10%;
    }
    .skill_div {
        /* text-align: center; */
        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
    }
    .icon_div {
        /* margin-bottom: 10px; */
        margin-bottom: 10px;
        /* border: solid #14213d 3px; */
        /* padding: 20% 20%; */
        /* background-color: red; */
        cursor: pointer;
        border-radius: 20px;
        align-items: center;
        padding-top: 5%;
        /* padding-top: 1.8%; */
        font-size: 20px;
        /* margin: auto; */
        align-items: center;
    }
    .icon_div img {
        /* border-radius: 2.6rem; */
        cursor: pointer;
        display: inline-block;
        font-size: 1.3rem;
        height: 2rem;
        line-height: 2.6rem;
        margin: 0 0px;
        position: relative;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 2rem;
        margin-top: 5%;
        /* border: solid red 1px; */
        /* border-radius: 20px; */
        /* margin-bottom: 10px; */
    }
    .skill_div_main {
        margin-bottom: 20%;
    }
}
