.blog_card_main {
    max-width: 375px;
    /* margin: auto; */
    /* margin-top: 10; */
    background: "rgb(252, 246, 246)";

    /* padding: "5% 5%"; */
    /* border: 1px solid red; */
    margin-bottom: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    /* box-shadow: 0 4px 8px 0 rgba(231, 10, 10, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.blog_card_main:hover {
    transition: ease-in 0.3s;
    background: #f8f2f2;
}

@media (max-width: 768px) {
    .blog_card_main {
        margin-bottom: 10%;
        padding: 5% 5%;
        width: 115%;
    }
}
