.cards_container {
    padding: 2% 10%;
    margin-top: 2%;
}

@media (max-width: 992px) {
    .cards_container {
        padding: 2% 10%;
        margin-top: 10%;
    }
}
@media (max-width: 768px) {
}
